.create-todo {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
}


.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.mat-mdc-button:not(:disabled) {
  color: #fff;
}

//--mdc-text-button-label-text-color: color: #fff;
