<script src="todo-item.component.ts"></script>
<span class="item">
  <div class="item-content">
    <mat-checkbox
      [checked]="status()"
      (change)="changeStatus($event.checked)"
    ></mat-checkbox>
    <h4>
      Title: <span> {{ todo.title | shortTitle }}</span>
    </h4>
    <p class="item-details">
      <span>Details:</span> {{ todo.description | shortTitle }}
    </p>
  </div>

  <div class="item-control">
    <button mat-flat-button (click)="onOpenDetail()">Detail</button>
    <button mat-flat-button (click)="onTodoEdite()">Edit</button>
    <button mat-flat-button (click)="onTodoDelete()">Delete</button>
  </div>
</span>
