<form action="" [formGroup]="editeTodo" class="create-todo">
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput formControlName="title" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description"></textarea>
  </mat-form-field>
  <mat-checkbox formControlName="completed">Completed ?</mat-checkbox>
  <div class="buttons">
    <button
      mat-flat-button
      [mat-dialog-close]="editeTodo.value"
      [disabled]="editeTodo.invalid"
    >
      Apply
    </button>
    <button mat-flat-button mat-dialog-close>Cancel</button>
  </div>
</form>
