<div class="todo-card">
  <div class="container">
    <mat-icon class="back" (click)="onRedirectHome()">arrow_back</mat-icon>
    <div class="card">
      <h4>
        Title:<span>{{ todo?.title }}</span>
      </h4>
      <p *ngIf="todo?.description">
        <span> Description:</span> {{ todo?.description }}
      </p>
      <span class="status">
        <mat-icon [ngClass]="{ yes: todo?.completed, no: !todo?.completed }">{{
            todo?.completed ? "check" : "close"
          }}</mat-icon>
        {{ todo?.completed ? "Completed" : "Not completed" }}
      </span>
    </div>
  </div>
</div>
